<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website for a Software Company</title>
    <meta name="description" content="Techy Software Solutions provides cutting-edge software development, web development, and mobile app solutions tailored to your business needs.">
    <meta name="keywords" content="Software Development, Web Development, Mobile App Development, Custom Software Solutions, Techy Software, Software Company">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <div class="navbar">
           <div class="left">
                <div class="part1"></div>
           </div>
            <div class="right">
                <button class="part2">Buy Now</button>
                <button class="part3">Free Download</button>
                <button class="part4">x Remove</button>
            </div>

        </div>
    </header>
    
    <ul class="box-2">
        <div class="inner">
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Port Folio</li>
            <li>Our Packages</li>
            <li>Contact Us</li>
            <li>+189 8162 9287</p>
        </div>
    </ul>
    
    <div class="body">
        <div class="body-1">
            <p class="para-1"> Best Free Website Template</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque numquam soluta nesciunt laboriosam et pariatur consectetur aut unde praesentium corporis. Voluptas nulla, magnam cumque impedit deserunt distinctio itaque eaque provident.</p>
            <div class="box-3">
                <p>Book An Appointment</p>
            </div>
        </div>
    </div>
    <div class="part-2">
        <h2>Key Feat Features</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto praesentium enim neque consectetur. Veniam, nisi minus. Vitae dicta quo ad corporis, consectetur est nobis error officia! Fugit inventore architecto enim.</p>
    </div>
    <div class="more-info">
        <div class="oval-container">
            <div class="icon-circle">
               
                <span class="icon-placeholder"><i class="fa-regular fa-object-group"></i></span>
            </div>
            <h2 class="title">Programming Experts</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce fringilla vel nisl a dictum. Donec ut est arcu.
                Donec hendrerit velit.
            </p>
        </div>
        <div class="oval-container">
            <div class="icon-circle">
               
                <span class="icon-placeholder"><i class="fa-solid fa-clock"></i></span>
            </div>
            <h2 class="title">Timely Delivery</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce fringilla vel nisl a dictum. Donec ut est arcu.
                Donec hendrerit velit.
            </p>
        </div>
        <div class="oval-container">
            <div class="icon-circle">
               
                <span class="icon-placeholder"><i class="fa-regular fa-object-group"></i></span>
            </div>
            <h2 class="title">Quality Design</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce fringilla vel nisl a dictum. Donec ut est arcu.
                Donec hendrerit velit.
            </p>
        </div>
        <div class="oval-container">
            <div class="icon-circle">
               
                <span class="icon-placeholder"><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            <h2 class="title"> 24 x 7 Support</h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce fringilla vel nisl a dictum. Donec ut est arcu.
                Donec hendrerit velit.
            </p>
            
        </div>
    </div>
    <div class="reviews">
        <h2>What People Say About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio fuga voluptatem ipsum omnis sed voluptates expedita soluta libero iste officia voluptate, autem recusandae inventore itaque maxime quaerat voluptas nemo et.</p>
        <div class="first-half">
            <div class="person-1">
                <img src="/images/member-01.webp" class="image">
                <div class="details">
                    <p class="heading">Krisinan Kumar</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                </div>
            </div>
            <div class="person-1">
                <img src="member-02.webp" class="image">
                <div class="details">
                    <p class="heading">Steve Smith</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                </div>
            </div>
        </div>
        <div class="second-half">
                <div class="person-1">
                    <img src="member-03.webp" class="image">
                    <div class="details">
                        <p class="heading">Adel Reshide</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                    </div>
                </div>
                <div class="person-1">
                    <img src="member-04.webp" class="image">
                    <div class="details">
                        <p class="heading">Jonney Smith</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                    </div>
                </div>
        </div>
        
    </div>
    <div class="About">
        <div class="left-half">
          <p class="p1">About Company</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi et nobis. Quod totam consectetur explicabo, nostrum enim soluta quaerat corrupti dolorum ratione quisquam id. Tempore, in! Voluptas, molestias perferendis!
          Quod hic officia nemo velit facere! Ullam, accusamus modi magnam, dolorem suscipit nulla dolores qui corporis laudantium natus ex facilis id dolor quis a voluptate consequuntur sed amet blanditiis fugiat.
          Ipsa beatae error qui eius praesentium optio cumque tenetur est expedita provident? Commodi, harum! Ipsa nihil aliquid in, fugit perspiciatis a est ullam facere et consequatur deleniti sunt possimus tempora.</p>
        </div>
        <img src="about.webp" class="image-1">

    </div>
    <div class="reviews">
        <h2>Turning Complexity into Simplicity</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio fuga voluptatem ipsum omnis sed voluptates expedita soluta libero iste officia voluptate, autem recusandae inventore itaque maxime quaerat voluptas nemo et.</p>
        <div class="first-half">
            <div class="person-1">
                <img src="blog_01.webp" class="image">
                <div class="details">
                    <p class="heading">Latest News about Smarteye</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                </div>
            </div>
            <div class="person-1">
                <img src="blog_02.webp" class="image">
                <div class="details">
                    <p class="heading">Apple Launch its New Phone</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                </div>
            </div>
        </div>
        <div class="second-half">
                <div class="person-1">
                    <img src="blog_03.webp" class="image">
                    <div class="details">
                        <p class="heading">About Windows 10 Update</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                    </div>
                </div>
                <div class="person-1">
                    <img src="blog_04.webp" class="image">
                    <div class="details">
                        <p class="heading">Latest News about Smarteye</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sit reprehenderit illum. Optio, accusantium consequuntur ipsa ullam rem quibusdam?  </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="fields">
        <div class="fields-1">
            <div class="type-1">
                <div class="circle">
                    <p>80 %</p>
                </div>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil, dolorum incidunt ex odio veniam. </p>
        
            </div>
            <div class="type-1">
                <div class="circle">
                    <p>70 %</p>
                </div>
                <h3>Android Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil, dolorum incidunt ex odio veniam. </p>
        
            </div>
        </div>
        <div class="fields-2">
            <div class="type-1">
                <div class="circle">
                    <p>90 %</p>
                </div>
                <h3>Frontend Developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil, dolorum incidunt ex odio veniam. </p>
        
            </div>
            <div class="type-1">
                <div class="circle">
                    <p>60 %</p>
                </div>
                <h3>SEO & Digital Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil, dolorum incidunt ex odio veniam. </p>
        
            </div>
        </div>
    </div>
    <div class="team">
        <h2>Take a Look At Our Team</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam tempora incidunt quidem illum delectus rerum.</p>
        <div class="members">
            <div class="members-1">
                <div class="member-1">
                    <img src="team-memb1.webp" >
                    <div class="name">
                        <p>DavidKaneul</p>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="member-1">
                    <img src="team-memb2.webp" >
                    <div class="name">
                        <p>DavidKaneul</p>
                        <p>BusinessAnalsist</p>
                    </div>
                </div>
            </div>
            <div class="members-2">
                <div class="member-1">
                    <img src="team-memb3.webp" >
                    <div class="name">
                        <p>DavidKaneul</p>
                        <p>ProjectManager</p>
                    </div>
                </div>
                <div class="member-1">
                    <img src="team-memb4.webp" >
                    <div class="name">
                        <p>DavidKaneul</p>
                        <p>TeamLeader</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <h2>Our Sevices</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam tempora incidunt quidem illum delectus rerum.</p>
        <div class="expertise">
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-sharp fa-solid fa-pen-nib"></i>
                    <h3>UI Design</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>
            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-brands fa-android"></i>
                    <h3 >Android Development</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-regular fa-object-ungroup"></i>
                    <h3>Graphic Design</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-duotone fa-solid fa-web-awesome"></i>
                    <h3>Website Design</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
        </div>
        <div class="expertise-1">
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-brands fa-algolia"></i>
                    <h3>SEO</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>
            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-solid fa-tachograph-digital"></i>
                    <h3 >Digital Marketing</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-brands fa-superpowers"></i>
                    <h3>ERP Applications</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
            <div class="skills">
                <div class="skill-1">
                    <i class="fa-regular fa-face-smile"></i>
                    <h3>App Development</h3>
                    
                </div>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum repellendus in ipsam earum eum officiis ut deserunt excepturi labore fuga rem deleniti sint tempore, doloribus magni quisquam vero? Aspernatur, nihil.</h3>
                <h3 class="end">Read More</h3>

            </div>
        </div>



    </div>
    <div class="values">
        <h2>Our Pricing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur molestias animi ad. Reiciendis laudantium maxime ex magnam beatae. Delectus, distinctio doloribus sed ipsam obcaecati voluptatibus. Provident aspernatur saepe nisi?</p>
        <div class="prices">
            <div class="pricing-card">
                <div class="card-header">Most Popular</div>
                <div class="card-price">
                    <span class="price">$189</span>
                    <span class="per-month">/ month</span>
                </div>
                <ul class="card-features">
                    <li>Powered by cPanel®</li>
                    <li>Dedicated IP Address</li>
                    <li>99.95% Uptime SLA</li>
                    <li>1000 Mbit Uplink</li>
                    <li>10 Hosted Domains</li>
                    <li>25 GB RAID 10 Storage</li>
                    <li>200 GB Premium Bandwidth</li>
                </ul>
                <button class="order-button">Order Now</button>
            </div>
            <div class="pricing-card-2">
                <div class="card-header-2">Most Popular</div>
                <div class="card-price">
                    <span class="price">$389</span>
                    <span class="per-month">/ month</span>
                </div>
                <ul class="card-features">
                    <li>Powered by cPanel®</li>
                    <li>Dedicated IP Address</li>
                    <li>99.95% Uptime SLA</li>
                    <li>1000 Mbit Uplink</li>
                    <li>10 Hosted Domains</li>
                    <li>25 GB RAID 10 Storage</li>
                    <li>200 GB Premium Bandwidth</li>
                    <li>Unlimited Emails</li>
                    <li>Premiun Support</li>
                    <li>Daily Backup</li>
                </ul>
                <button class="order-button">Order Now</button>
            </div>
            <div class="pricing-card">
                <div class="card-header">Most Popular</div>
                <div class="card-price">
                    <span class="price">$689</span>
                    <span class="per-month">/ month</span>
                </div>
                <ul class="card-features">
                    <li>Powered by cPanel®</li>
                    <li>Dedicated IP Address</li>
                    <li>99.95% Uptime SLA</li>
                    <li>1000 Mbit Uplink</li>
                    <li>10 Hosted Domains</li>
                    <li>25 GB RAID 10 Storage</li>
                    <li>200 GB Premium Bandwidth</li>
                </ul>
                <button class="order-button">Order Now</button>
            </div>
        </div>
        
    </div>
    
    <section id="contact-form">
        <div class="container">
            <h2>Get in Touch</h2>
            <form method="post" action="/" id="customer-form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
    <section id="feedback-form">
        <div class="container">
            <h2>We Value Your Feedback</h2>
            <p>Please take a moment to share your thoughts with us.</p>
            <form id="user-feedback-form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>

                <div class="form-group">
                    <label for="feedback">Feedback:</label>
                    <textarea id="feedback" name="feedback" rows="5" placeholder="Your feedback..." required></textarea>
                </div>

                <button type="submit">Submit Feedback</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="bottom">
            <div class="bottom-1">
                <div class="foot">
                   <h3>About Us</h3>
                   <p>Phasellus scelerisque ornare nisl sit amet pulvinar. Nunc non scelerisque augue. Proin et sollicitudin velit.</p>
                    <div class="add">
                      <i class="fa-solid fa-location-dot"></i>
                      <p>BlueDart Marthandam (K.K District) Tamil Nadu, IND</p>
                    </div>
                    <div class="add">
                       <i class="fa-solid fa-envelope"></i>
                       <p>info@smarteyeapps.com
                        sales@smarteyeapps.com</p>
                    </div>
                    <div class="add">
                       <i class="fa-solid fa-phone"></i>
                       <p>+23 323 43434</p>  
                       <p>+1 3232 434 55</p> 

                    </div>
                </div>
               <div class="sec-colmn">
                    <h3>From Latest Bolg</h3>
                    <div class="comments">
                       <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum

                        22-1-2019</p>
                    </div>
                    <div class="comments">
                        <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum

                        22-1-2019</p>
                    </div>
                    <div class="comments">
                        <p>dignissim. Integer tempor facilisis malesuada. Proin ac varius velit, tincidunt condimentum

                        22-1-2019</p>
                    </div>

                </div>
            </div>
            <div class="bottom-2">
                <div class="third-colmn">
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>Home</p>
                    </div>
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>About Us</p>
                    </div>
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>Services</p>
                    </div>
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>Blog</p>
                    </div>
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>Gallery</p>
                    </div>
                    <div class="tag">
                        <i class="fa-solid fa-angles-right"></i>
                        <p>Contact us</p>
                    </div>
                </div>
                <div class="last-colmn">
                    <h3>Easy tags</h3>
                    <div class="tag-1">
                        <p>Finance</p>
                    </div>
                    <div class="tag-2">
                        <p>Web Design</p>
                    </div>
                    <div class="tag-3">
                        <p>Internet Pro</p>
                    </div>
                    <div class="tag-4">
                        <p>Node Js</p>
                    </div>
                    <div class="tag-5">
                        <p>Java Swing</p>
                    </div>
                    <div class="tag-6">
                        <p>Angular Js</p>
                    </div>
                    <div class="tag-7">
                        <p>Vue Js</p>
                    </div>
                </div>
            </div>
            </div>
        <div class="footnote">
            <p>2015 © All Rights Reserved | Designed and Developed by Smarteyeapps</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-pinterest"></i>
        </div>
    </footer>
    
   
    
</body>
</html>